/*style.css*/
body{ 
    background-color: #1e1919;
    color: white;
    margin: 0;
}
header{
    display: inline-flex;
    background-color: white;
    margin-bottom: 0px;
    height:45px;
    width: 100%;
}
img{
    overflow: clip;
    overflow-clip-margin: content-box;
}
.firstpage{
    margin-top: 90px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.firstpage h1{
    
}

.logo { background-color: #0061fe;}